<div class="container">
  <div class="jumbotron jumbotron-2">
    <h2>Your word is:</h2>

    <strong><%= @word.word %></strong><br>

    <h3>Definition(s) of you word!</h3>
    <% @word.definition.each do |definition| %>
      <strong><p><%= definition %></p></strong>
    <% end %>

    <form action="/word/<%= @word.id %>" method="post">
      <label for="definition">Add a definition to this word:</label><br>
      <input type="text" name="definition"><br>
      <button type="submit" name="button">Add definition</button>
    </form>

    <a id="returnButton" class="btn btn-secondary" href="/">Return to List</a>
  </div>
</div>
