<div class="container">
  <div class="jumbotron jumbotron1">
    <h2>Welcome to the Word Definer</h2><br>
  </div>
</div>

<div class="container">
  <div class="jumbotron jumbotron2">
    <h4>If there is a new word AND a definition you wish to add to the list, <br>
      please fill out the following to add it to the list!</h4>
    <h4>Add an item to the list:</h4>
    <br>
    <form action="/" method="post">
      <div class="form-group">
        <label for="word">Word:</label>
        <input name="word" required pattern=".*\S+.*" title="This field is required" type="text"><br><br>
        <label for="definition">Definition:</label>
        <input name="definition" required pattern=".*\S+.*" title= "This field is required" type="text">
      </div><br>
      <button type="submit" class="btn-alert">Add!</button>
    </form><br>

    <form class="form-group" action="/" method="get">
      <button type="submit" name="button">Clear list</button>
    </form>


    <div class="output-form-box">
      <% Define::Word.word_sort.each do |item| %>
        <strong>Word:</strong> <a href="/word/<%= item.id %>"><%= item.word %></a> <br><br>
      <% end %><br>
    </div>
  </div>
</div>
