<div class="container">
  <div class="jumbotron">
    <h2>Your word is:</h2>

    <% @list_defined.each do |word| %>
      <%= word.word %> <br>
    <% end %>

    <h2>Definition of you word!</h2>

    <% @list_defined.each do |definition| %>
      <%= definition.definition %> <br>
    <% end %>

    <form class="form-group" action="/word_listing" method="post">
      <button type="button" class="btn-alert" na me="button">Return to List</button>

  </div>
</div>
