<div class="container">
  <div class="jumbotron">
    <h2>Your word is:</h2>
    <% @list_defined.each do |item| %>
      <%= item.word %> <br>
    <% end %>

    <h2>Definition of you word!</h2>

    <% @list_defined.each do |item| %>
      <%= item.definition %> <br>
    <% end %>

      <button type="button" class="btn-alert" onclick="/word_listing">Return to List</button>
    </a>
  </div>
</div>
