body {
  text-align: center;
}

.jumbotron {
  background-image:url("https://cdn.pixabay.com/photo/2017/10/03/00/00/dictionary-2810845_960_720.jpg");
  margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  padding-top: 10px;
  padding-bottom:10px;
}

 .jumbotron-2 {
   padding-top: 10px;
   padding-bottom:10px;
   /* background-image:url(''); */
  }


 .background {
   background-color: rgba(255, 255, 255, 0.6);
 }
